
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-9">
			<ul class="breadcrumb">
				<li class="active">
					<a href="#">News</a>
				</li>
				<li class="active">{{post.title}}</li>
			</ul>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-xs-12 col-sm-9">
			<p>{{post.body}}</p>

		</div>

	</div>



	<div class="row row-content">
		<div class="col-xs-12 col-sm-9">

			<h5 class="form-group form-inline" ng-show="comments.length">
				<b>
					<small>Sort by:</small>
				</b>
				<input type="text" class="form-control" ng-model="order">
			</h5>

			<div>
				<ul class="media-list">
					<li class="media" ng-repeat="comment in comments | orderBy : order">

						<blockquote>
							<div class="">
								<i class="fa fa-xs fa-star-o" ng-if="comment.rating >= 1"></i>
								<i class="fa fa-xs fa-star-o" ng-if="comment.rating >= 2"></i>
								<i class="fa fa-xs fa-star-o" ng-if="comment.rating >= 3"></i>
								<i class="fa fa-xs fa-star-o" ng-if="comment.rating >= 4"></i>
								<i class="fa fa-xs fa-star-o" ng-if="comment.rating >= 5"></i>
							</div>
							<h5>
								<b>{{comment.comment}}</b>
							</h5>
							<footer> {{comment.date | date:'yyyy-MM-dd HH:mm:ss'}} </footer>
						</blockquote>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<form class="form-horizontal" name="commentForm"
				ng-submit="saveComment()" novalidate>
				<div class="form-group">
					<label for="rating" class="col-sm-2 control-label">Stars</label>
					<div class="col-sm-10">
						<label class="radio-inline" ng-repeat="n in [1,2,3,4,5]">
							<input type="radio" checked="checked" name="rating" ng-model="comment.rating"
								ng-value="n">
							{{n}}
						</label>
					</div>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
					<label for="comment" class="col-sm-2 control-label">Comment</label>
					<div class="col-sm-10">
						<textarea rows="12" class="form-control" id="comment"
							name="comment" ng-model="comment.comment" required></textarea>
						<span
							ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine"
							class="help-block">comment is required.</span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary"
							ng-disabled="commentForm.$invalid">Submit Comment</button>
					</div>
				</div>
			</form>

		</div>




	</div>





</div>